---
# playbooks/credential-rotation.yml
- name: Rotate compromised credentials
  hosts: "{{ affected_hosts }}"
  become: yes

  tasks:
    - name: Generate new password
      set_fact:
        new_password: "{{ lookup('password', '/dev/null length=32 chars=ascii_letters,digits') }}"

    - name: Update user password
      user:
        name: "{{ compromised_user }}"
        password: "{{ new_password | password_hash([PASSWORD]2') }}"
        update_password: always

    - name: Force password change on next login
      shell: "chage -d 0 {{ compromised_user }}"

    - name: Store new credentials in AWS Secrets Manager
      community.aws.secretsmanager_secret:
        name: "{{ compromised_user }}-credentials"
        secret: "{{ new_password }}"
        state: present
